.jumbotron {
  padding-top: 7rem;
  background-color: #f2ffea;
}

#project {
  background-color: #f2ffea;
}

footer {
  background-color: #84a98c;
}

footer a {
  text-decoration: none;
}

section {
  padding-top: 5rem;
}
